@media(min-width:992px) and (max-width:1199px) { /* lg device */
    

	/* home main part */

	.main-content h3{
		font-size: 33px;
	}


	/* service part  */

	.service-item h2{
		font-size: 18px;
	}

	/* price part */

	.pricing .pricing-table-price .amount{
		font-size: 75px;
	}
	.pricing .pricing-table-body ul li{
		font-weight: 500;
		font-size: 17px;
		margin-bottom: 5px;
		padding-left: 35px;
	}

	



  
    
}/* lg device */


@media(min-width:768px) and (max-width:991px) { /* md device */
   
   
	/* Home main part  */

	.main-img img{
		width: 300px;
		height: 300px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}

	/* service card */

	.service-item h2{
		font-size: 18px;
	}

	/* pricing  part  */
	
	.pricing .pricing-table{
		width: calc(50% - 30px);
		margin-bottom: 30px;
	}




}/* md device */



@media(min-width:576px) and (max-width:767px) { /* sm device */
  
   /* Home main part  */

	.main-img img{
		width: 300px;
		height: 300px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}

	/* expreance section */
	
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}

	/* pricing part */

	.pricing .pricing-table{
		width: calc(100% - 30px);
	}








}/* sm device */




@media(max-width:575px) { /* xs device */
   
	/* Home main part  */

	.main-img img{
		width: 300px;
		height: 300px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}
	.main-content h5{
		font-size: 22px;
	}
	.main-content h4{
		font-size: 20px;
		margin: 7px 0;
	}
	.main-content h3{
		font-size: 25px;
	}

	/* footer part */

	.footer-nav ul li{
		margin: 15px 13px;
	}
	.footer-nav ul li a{
		font-size: 18px;
	}
	.nav-icon ul li{
		margin: 0 10px;
	}
	.copyright p{
		font-size: 18px;
		line-height: 40px;
	}

	/* testimonial Part */

	.testimonial-item{
		padding: 20px;
	}

	/* footer part */

	.nav-icon ul li{
		margin: 10px 15px;
	}

	/* expreance section */
	
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}

	/* pricing part */

	.pricing .pricing-table{
		width: calc(100% - 30px);
	}

	.pricing .pricing-table-price .amount{
		font-size: 60px;
	}
	.pricing .pricing-table-body ul li{
		font-weight: 500;
		font-size: 15px;
		margin-bottom: 9px;
		padding-left: 35px;
	}



    

} /* xs device */




@media(max-width:375px){

	/* Home main part  */

	.main-img img{
		width: 200px;
		height: 200px;
	}
	.main-content h5{
		font-size: 20px;
	}
	.main-content h4{
		font-size: 18px;
		margin: 7px 0;
	}
	.main-content h3{
		font-size: 23px;
	}
	.main-btn .effect-btn:last-child{
		display: none;
	}

	/* expreance section */
	
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}

	/* pricing part */

	.pricing .pricing-table{
		width: calc(100% - 30px);
	}

	.pricing .pricing-table-body ul li{
		font-weight: 500;
		font-size: 12px;
		margin-bottom: 8px;
		padding-left: 35px;
	}

	.pricing .pricing-table-body ul li i{
		height: 22px;
		width: 22px;
		font-size: 13px;
	}

	.pricing .pricing-table-header{
		padding: 10px 0;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 30px;
		
	
	}
	.pricing .pricing-table-header h3{
		font-size: 25px;
	}




}














